.tempContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.tempDesc{
    text-align: center;
    font-size: 1.5rem;
    color: cyan;
}
.tempDesc2{
    margin-top: -1.5rem;
    font-size: 1rem;
    text-transform: capitalize;
}
.tempDetails{
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: white;
    width: 100%;

}
.tempImg{
    width:5rem;
}
.temp{
    font-size: 3rem;
    margin-left: 2rem;

}
.tempDts{
    margin-top: 0.8rem; 
    display: flex ;
    flex-direction: column;
    
}
@media  screen and (max-width: 576px){
    .tempDts{
        font-size: 1rem;
        display: flex;
    }
    .tempDt{
        margin-right: 1rem;
    }
    .moreDts{
        margin-top: 0.5rem;
        font-size: 0.5rem;
        gap: 0.5rem;
    }
    .moreDt{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 0.5rem;
    }
}
.tempDt{
    display: flex;
    padding: 0rem;
    align-items: center;
    font-size: small;
}
.moreDts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: .75rem;
    font-size: small;
}
.moreDt{
    gap: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.value{
    font-weight: 500;
}