.headerButtons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.navButton{
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
    background:inherit
}
.logo{
    z-index: 3;
    position:absolute;
    height: 100px;
    width: 100px;
    top: 10px;
    left: 40px;
}
@media screen and (max-width: 767px) {
    .logo{
        position: relative;
    }
}
.logo img{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

@media  screen and (max-width: 576px){
    .navButton{
        font-size: 14px;
    }
}