.tlCDate{
    display: flex; 
    margin-top: 1.25rem;
    justify-content: center; 
    align-items: center; 
}
.date{
    color: white;
    font-size: 1.25rem;
    line-height: 1rem;
    font-weight: 300;
}
@media  screen and (max-width: 576px){
    .date{
        font-size: 1rem;
    }
}
    
.tlLocation p{
    color: white;
    font-size: 1.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 

}

.tlLocation {
    display: flex; 
    margin-bottom: 0.25rem;
    justify-content: center; 
    align-items: center;
}

.localTime{
    font-size: 1rem;
}