
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
/* .App{
    background-color: rgb(19, 132, 231);
    margin: -1rem;
} */
.containerCold{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    padding-left: 8rem;
    padding-right: 8rem; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1rem; 
    z-index: 2;
    background: rgb(22,64,213);
    background: linear-gradient(-45deg, rgba(22,64,213,1) 0%, rgba(31,117,185,1) 73%, rgba(0,151,167,1) 100%);
    max-width: 768px; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}
.containerHot{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem; 
    padding-left: 8rem;
    padding-right: 8rem; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 1rem; 
    z-index: 2;
    background: rgb(22,64,213);
    background: linear-gradient(-45deg, #f7b733, #fc4a1a); 
    /* background: linear-gradient(-45deg, rgba(22,64,213,1) 0%, rgba(31,117,185,1) 73%, rgba(0,151,167,1) 100%); */
    max-width: 768px; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}

@media screen and (max-width: 768px){
    .containerCold{
        padding-left: 1rem;
        padding-right: 1rem; 
    }
    .containerHot{
        padding-left: 1rem;
        padding-right: 1rem; 
    }
}

@media screen and (max-width: 576px){
    .containerCold{
        padding-left: 0.5rem;
        padding-right: 0.5rem; 
    }
    .containerHot{
        padding-left: 0.5rem;
        padding-right: 0.5rem; 
        
    }
}

@media screen and (max-width: 320px){
    .containerCold{
        padding-left: 0.25rem;
        padding-right: 0.25rem; 
    }
    .containerHot{
        padding-left: 0.25rem;
        padding-right: 0.25rem; 
    }
    
}